@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #9B9B9B;
}


header {
    position: fixed;
    width: 100%;
    background-color: #00796B;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    /* alinhamento horizontal */
    justify-content: space-between;
    /* alinhamento vertical */
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

header nav ul li a:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: 0.5s;
}

header nav ul li:hover a:after {
    width: 100%;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

main {
    min-height: 80vh;
    margin-top: 150px;
}

.cabecalho {
    width: 1280px;
    height: 80px;
    background-color: #00796B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 41px;
}

.texto {
    display: block;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-content: space-between;
}

.imagem {
    width: 770px;
    height: 443px;
    left: -21px;
    top: 237px;
}

.texto h3 {
    width: 516px;
    height: 120px;
    left: 721px;
    top: 237px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #009688;
}

.texto p {
    width: 501px;
    height: 160px;
    left: 721px;
    top: 340px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #9B9B9B;
}

.btn-primary {
    padding: 10px 30px;
    background-color: #00796B;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

.btn-primary:hover {
    background-color: #009688;
    color: #000;
}

footer {
    width: 100%;
    height: 85px;
    left: 0px;
    top: 723px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer p {
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.img-destaque {
    animation: flutuar 3s infinite;
}