*{
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

.cabecalho{
    width: 1280px;
    height:80px;
    align-items: center;
    background-color: #00796B;
    display: flex;
    justify-content: space-between;   
}

.logo{
    margin-left: 41px;
}

nav{
    display: flex;
    margin-right: 43px;
}

nav ul{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 273px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

nav ul li{
    color: white;
}

main{
    background-color: white;
}


.container{
    display: flex;
    align-content: space-between;
}

.texto{
    display: block;
    align-items:center;
    justify-content: center;
}

.imagem {
    width: 770px;
    height: 443px;
    left: -21px;
    top: 237px;
}

.texto h3{
    width: 516px;
    height: 120px;
    left: 721px;
    top: 237px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #009688;
}

.texto p{
    width: 501px;
    height: 160px;
    left: 721px;
    top: 340px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #9B9B9B;
}

footer{
    width: 1280px;
    height: 85px;
    left: 0px;
    top: 723px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer p{
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}